extends layout
block content
   h1.text-center Hero has been (finally) defeated!
   h3.text-center#name= name
   h3.text-center Your Final Score:
   h3.text-center#level= level
   h3.text-center Your Maximum Health:
   h3.text-center= maxHealth
   h3.text-center Your Attack:
   h3.text-center= attack
   h3.text-center Your Armor:
   h3.text-center= armor
   if e1name === ""
    h3.text-center You didn't defeat a single one?! C'mon!
   else
    h3.text-center Last 3 defeated enemies:
   table
       tr
           td
            if e1name !== ""
               h4.text-center= e1name
               ul
                   li
                       h5 Health
                       h5.text-center= e1maxHealth
                   li
                       h5 Attack
                       h5.text-center= e1attack
                   li
                       h5 Armor
                       h5.text-center= e1armor
           td
            if e2name !== ""
               h4.text-center= e2name
               ul
                   li
                       h5 Health
                       h5.text-center= e2maxHealth
                   li
                       h5 Attack
                       h5.text-center= e2attack
                   li
                       h5 Armor
                       h5.text-center= e2armor
           td
            if e3name !== ""
               h4.text-center= e3name
               ul
                   li
                       h5 Health
                       h5.text-center= e3maxHealth
                   li
                       h5 Attack
                       h5.text-center= e3attack
                   li
                       h5 Armor
                       h5.text-center= e3armor
   h6.text-center
       a.nav-link(href='/leaderboard') Are you on the leaderboard?
   span.twitter-share(data-js='twitter-share') Share on Twitter
   span.facebook-share(data-js='facebook-share') Share on Facebook
   span.vkontakte-share#vkShare Share on VKontakte
   div(class="sharethis-inline-share-buttons")
    script(src='/src/socials.js') 
   script(src='https://platform-api.sharethis.com/js/sharethis.js#property=5d38efbd42eb980012755e7c&product=inline-share-buttons')

