extends layout

block content
	.container
		h2 Table
		.table-responsive
			table.table
				thead
					tr
						th #
						th Name
						th Level
						th Health
						th Attack
						th Enemy Name 1
						th Enemy Name 2
						th Enemy Name 3
				tbody
				each player in players
					tr
						td 1
						td= player.name
						td= player.level
						td= player.health
						td= player.attack
						td= player.lastThreeEnemies[0].name
						td= player.lastThreeEnemies[1].name
						td= player.lastThreeEnemies[2].name